:root{
  --primary-color: #04AA6D;
}

body{
  margin: 0;
  font-family: comfortaa;
  background-image: url(/img/house.gif);
 }

.navbar {
  background: #cacaca;
  padding: 1em;
  margin: 1em;
  box-shadow: #aaaaaa;
  display: flex;
  justify-content: space-between;
}

.container-Nav{
  margin: 0;
  padding: 0em;
}

.logo{
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.4em;
}

span{
  color: var(--primary-color);
}

.container {
  display: flex;
  margin: 0em;
  padding: 1em;
  justify-content: center;
  background-image: url(/img/value.gif);
}

input [type="date"], input{
  padding: .5em;
  margin: .8em;
  width: 100%;
  border-color: var(--primary-color);
  border-radius: .5em;
}




:placeholder-shown{
  font-family: comfortaa;
}

.drop-1 {
  padding: .5em;
  margin: 1em;
  width: 32%;
  border-color: var(--primary-color);
  border-radius: .5em;
}

.submit{
  padding: .7em;
  width: 100%;
}