:root{
  --primary-color: #04AA6D;
}

body{
  margin: 0;
  font-family: comfortaa;
 }

.navbar {
  background: #cacaca;
  padding: 1em;
  box-shadow: #aaaaaa;
  display: flex;
  justify-content: space-between;
}

.container-Nav{
  margin: 0;
  padding: 1em;
}

.logo{
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.4em;
}

span{
  color: var(--primary-color);
}

.container {
  display: flex;
  margin: 2em;
  padding: 1em;
  justify-content: center;
  width: 100%;
}

/* Style the input fields */
input {
  padding: 1em;
  width: 100%;
  font-size: bold;
  font-family: comfortaa;
  border: 1px solid var(--primary-color);
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.next-btn, .previous-btn {
  background-color: var(--primary-color);
  text-align: center;
  margin: 0;
  padding: 1em;
  font-family: comfortaa;
  border-radius: 10px;
  box-shadow: none;
  border: none;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #434343;
}
